<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="../assets/noBgLogin.png" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form (ngSubmit)="authenticate()">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                        <button type="button" class="btn btn-dark btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>

                        <button type="button" class="btn btn-dark btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>

                        <button type="button" class="btn btn-dark btn-floating mx-1">
                <i class="fab fa-linkedin-in"></i>
              </button>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">OR</p>
                    </div>
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input type="text" id="form3Example3" class="form-control form-control-lg" placeholder="Enter a valid email address" id="username" name="username" required [(ngModel)]="authRequest.email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter password" id="password" name="password" required [(ngModel)]="authRequest.password">
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-light btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        <a id="forget" routerLink="admin-register" style="padding-left: 1.5rem; padding-right: 1.5rem">Admin Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>