<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="../assets/noBgLogin.png" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form (ngSubmit)="registerAdmin()">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                        <button type="button" class="btn btn-dark btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-dark btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-dark btn-floating mx-1">
                            <i class="fab fa-linkedin-in"></i>
                        </button>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">OR</p>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="email" class="form-control form-control-lg" placeholder="Enter a valid email address" />
                        <label class="form-label" for="email">&nbsp;&nbsp;&nbsp;Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="password" class="form-control form-control-lg" placeholder="Enter password" />
                        <label class="form-label" for="password">&nbsp;&nbsp;&nbsp;Password</label>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                        <div *ngIf="!passwordsMatch() && confirmPassword !== ''" class="text-danger">Passwords do not match</div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="rememberMe" />
                            <label class="form-check-label" for="rememberMe">
                                Remember me
                            </label>
                        </div>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <!-- Bind form submission to login method -->
                        ]<button (click)="navigateToRegisterPage()">Go to Register Page</button>
                        <button type="submit" class="btn btn-dark btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        <div class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a id="forget" routerLink="Admin-login">Admin-login</a></div>
                    </div>
                    <form #adminRegisterForm="ngForm" (ngSubmit)="onSubmit()">
                        <div *ngIf="!passwordsMatch">
                            Passwords do not match!
                        </div>
                    </form>

                </form>
            </div>
        </div>
    </div>
</section>